@{
  Layout = "_Layout";
}

<h1>Add a new Vendor</h1>

<form action="/vendors" method="post">
  <label for="name">Vendor's Name:</label>
  <input id="name" name="name" type="text" placeholder="Name" required>
  <br>
  <label for="description">Vendor's Description:</label>
  <input id="description" name="description" type="text" placeholder="Description" required>
  <br>
  <button id="formButton" type="submit">Submit</button>
</form>

<button><a href="/vendors">Back to Vendors</a></button>
<button><a href='/'>Home Page</a></button>
