@{
  Layout = "_Layout";
}

  <form action="/order" method="post">
    <h3 id="formTitle">New Order</h3>
    <label for="ordertitle">Title</label>
    <input id="ordertitle" name="ordertitle" type="text">
    <br>
    <label for="">Description</label>
    <input id="orderDescription" name="orderDescription" type="text">
    <br>
    <label for="orderPrice">Price</label>
    <input id="orderPrice" name="orderPrice" type="text">
    <br>
    <label for="orderDate">Date</label>
    <input id="orderDate" name="orderDate" type="text">
    <br>
    <button id="formButton" type="submit">Submit</button>
  </form>

</body>

</html>