@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h1>Add a new order</h1>
<h3>for @Model.Name</h3>

<form action="/vendors/@Model.Id/orders" method="post">
  <h3 id="formTitle">New Order</h3>
  <label for="title">Title</label>
  <input id="title" name="title" type="text" placeholder="Order Title" required>
  <br>
  <label for="description">Enter a Description:</label>
  <textarea id="description" name="description" type="text" placeholder="Order Description" required></textarea>
  <br>
  <label for="price">Price</label>
  <input id="price" name="price" type="number" placeholder="Enter Price" required>
  <br>
  <label for="date">Enter the Order Date</label>
  <input id="datee" name="date" type="date" required>
  <br>
  <button id="formButton" type="submit">Add Order</button>
</form>

<button><a href="/vendors/@Model.Id">Back to the Orders</a></button>
<button><a href='/vendors'>Vendors List</a></button>
